{% extends 'base.html.twig' %}

{% block title %}Recover password!{% endblock %}

{% block body %}
    <form method="post">
    <div class="container">
        {# <h1 class="h3 mb-3 font-weight-normal">Įrašykite naują slaptažodį</h1> #}
        {# alerts rendering #}
        {% set formErrors = form.vars.errors.form.getErrors(true) %}
        {{ parent() }}

        {{ form_start(form) }}
        {% if action == "reset" %}
            <h1 class="h3 mb-3 font-weight-normal">Eneter your email here!</h1>
            Email: {{ form_widget(form.email) }}<br />
        {% else %}
            <h1 class="h3 mb-3 font-weight-normal">Ener your new password</h1>
            New password: {{ form_widget(form.password.first) }}<br />
            Repeat your new password: {{ form_widget(form.password.second) }}<br />
        {% endif %}
        {{ form_start(form) }}
        {{ form(form, {'method': 'POST'}) }}
    </div>
{% endblock %}
