{% extends 'base.html.twig' %}

{% block title %}Renginiai{% endblock %}

{% block body %}
    <h1>Renginiai</h1>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    <div class="row" style="width: 900px;">
        <div class="col">
            {{ form_label(form.Title) }}
        </div>
        <div class="col">
            {{ form_label(form.Category) }}
        </div>
        <div class="col" >
            {{ form_label(form.Date) }}
        </div>
    </div>
    <div class="row" style="width: 900px;">
        <div class="col">
            {{ form_widget(form.Title) }}
        </div>
        <div class="col">
            {{ form_widget(form.Category) }}
        </div>
        <div class="col">
            {{ form_widget(form.Date) }}
        </div>
    </div>
    <div class="row" style="width: 400px;">
        <div class="col">
            {{ form_label(form.Price_from) }}
        </div>
        <div class="col">
            {{ form_label(form.Price_up_to) }}
        </div>
    </div>
    <div class="row" style="width: 400px; height: 50px">
        <div class="col">
            {{ form_widget(form.Price_from) }}
        </div>
        <div class="col">
            {{ form_widget(form.Price_up_to) }}
        </div>
    </div>
    <button class="btn btn-primary">{{ button_label|default('Filtruoti') }}</button>
    {{ form_end(form) }}


    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Category</th>
                <th>City</th>
                <th>Address</th>
                <th>Place</th>
                <th>Date</th>
                <th>Time</th>
                <th>Duration</th>
                <th>Price</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.Title }}</td>
                <td>{{ event.Category.Name }}</td>
                <td>{{ event.City }}</td>
                <td>{{ event.Address }}</td>
                <td>{{ event.Place }}</td>
                <td>{{ event.Date ? event.Date|date('Y-m-d') : '' }}</td>
                <td>{{ event.Time ? event.Time|date('H:i:s') : '' }}</td>
                <td>{{ event.Duration ? event.Duration|date('H:i:s') : '' }}</td>
                {% if event.Price == 0 %}
                    <td>Nemokamai</td>
                {% else %}
                    <td>{{ event.Price }}</td>
                {% endif %}
                <td>{{ event.Description }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('event_show', {'id': event.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-primary" href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary" href="{{ path('event_new') }}">Create new</a>
    {% endif %}

{% endblock %}
