z`{# templates/navbar.html.twig #}
{% block header %}
    <div class="header">
        <h1>KTU Renginiai</h1>
    </div>

{% endblock %}
{% block topnav %}
    <div class="topnav">
        <a href="{{ absolute_url(path('homepage')) }}" style="float:left">Pagrindinis</a>
        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_USER')) %}
            <a href="{{ absolute_url(path('app_logout')) }}" style="float: right">Atsijungti</a>
            <a href="{{ absolute_url(path('event_index')) }}" style="float: left">Renginiai</a>
            <a href="{{ absolute_url(path('subscribtion_index')) }}" style="float: left">Prenumeratos</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ absolute_url(path('category_index')) }}" style="float: left">Kategorijos</a>
                <a href="{{ absolute_url(path('user_index')) }}" style="float: left">Vartotojų sąrašas</a>
            {% endif %}
            {% else %}
                <a href="{{ absolute_url(path('app_register')) }}" style="float: right">Registruotis</a>
                <a href="{{ absolute_url(path('app_login')) }}" style="float: right">Prisijungti</a>
        {% endif %}

    </div>
{% endblock %}