{{ form_start(form) }}
    {{ form_widget(form) }}
    {% for category in categories %}
        <input id="category"{{ category.name }} type="checkbox" value={{ category.id }} name="category{{ loop.index }}" >
        {{ category.name }}
        {{ "\n"|nl2br }}
    {% endfor %}
    <button class="btn btn-success">{{ button_label|default('Subscribe') }}</button>
{{ form_end(form) }}
